.dark-primary-color    { background: #212121; }
.default-primary-color { background: #212121; }
.light-primary-color   { background: #484848; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #000000; }
.action                { color: #bdbdbd; }
