<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/register.css" rel="stylesheet">
    <link href="../static/css/palette.css" rel="stylesheet">
    <title>Cadastre-se no nosso banco de talentos!</title>

  </head>

  <body>

    <div class="jumbotron text-center dark-primary-color">
        <h1 class="text-primary-color"> Banco de Talentos</h1>
        <p></p>
        <h3 class="text-primary-color"> Cadastre-se no nosso banco de talentos para receber nossas propostas por email</h3>
      </div>

      <div class="jumbotron light-primary-color">
        <h3 align="center" class="text-primary-color">Informações pessoais</h3>
        <form class="form-register">
          <div class="form-group">
              <label for="inputName" class="text-primary-color">Nome</label>
              <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Nome" required autofocus>
          </div>
           <div class="form-group">
              <label for="inputEmail" class="text-primary-color">Endereço de Email</label>
              <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="awesomedev@gmail.com" required autofocus>
          </div>
           <div>
               <h3 align="center" class="text-primary-color">Classifique suas habilidades técnicas abaixo</h3>
           </div>
          <label for="inputHtml" class="text-primary-color">HTML</label>
          <input name="inputHtml" id="inputHtml" type=range min=0 max=10 value=0 step=1>
          <label for="inputCSS" class="text-primary-color">CSS</label>
          <input type="range" min=0 max=10 value=0 step=1  name="inputCSS" id="inputCSS">
          <label for="inputJS" class="text-primary-color">JavaScript</label>
          <input type="range" min=0 max=10 value=0 step=1  name="inputJS" id="inputJS">
          <label for="inputPython" class="text-primary-color">Python</label>
          <input type="range" min=0 max=10 value=0 step=1  name="inputPython" id="inputPython">
          <label for="inputDjango" class="text-primary-color">Django</label>
          <input type="range" min=0 max=10 value=0 step=1  name="inputDjango" id="inputDjango">
          <label for="inputIOS" class="text-primary-color">iOS</label>
          <input type="range" min=0 max=10 value=0 step=1  name="inputIOS" id="inputIOS">
          <label for="inputAndroid" class="text-primary-color">Android</label>
          <input type="range" min=0 max=10 value=0 step=1  name="inputAndroid" id="inputAndroid">
   -->
          <button id="submit" name="submit" class="btn-register btn btn-block" type="submit">Registrar</button>
        </form>
      </div>



    </div>
  </body>
</html>