<html>
    <head>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/register.css" rel="stylesheet">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Início</title>
        {% endif %}
    </head>
    <hr>
        <div class="container">
            <div class="jumbotron">
                <h1 align="center">Cadastro de Talentos - Joinville</h1>
            </div>
            <hr>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            {% block content %} {% endblock %}
        </div>
    <footer class="footer">
        <p>&copy; Claudio Souza, 2017</p>
    </footer>
    <script src="http://protostrap.com/Assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
